/* ideally put this in a separate css file specifically for form styling
and include in form.html*/

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    padding: .2em;
    margin: .7em;
}

.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
}

.back-btn {
    padding: .5em;
    border-radius: 6px;
}